# INDEXAÇÃO DIRETA É UM TIPO DE VISUALIZAÇÃO E ANALISE DE DADOS QUE UTILIZAMOS O [], E RETORNA UMA SERIES

In [10]:
import pandas as pd
df = pd.read_csv('../datasets/GasPricesinBrazil_2004-2019.csv', sep = ';')

In [11]:
df.columns

Index(['Unnamed: 0', 'DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO',
       'PRODUTO', 'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO', 'MÊS',
       'ANO'],
      dtype='object')

In [15]:
df['REGIÃO'] # RETORNOU A SERIES DE REGIÃO

0         CENTRO OESTE
1         CENTRO OESTE
2         CENTRO OESTE
3         CENTRO OESTE
4             NORDESTE
              ...
106818        NORDESTE
106819             SUL
106820             SUL
106821         SUDESTE
106822        NORDESTE
Name: REGIÃO, Length: 106823, dtype: object

In [17]:
df['ANO'] # RETORNOU A SERIES DE ANO

0         2004
1         2004
2         2004
3         2004
4         2004
          ...
106818    2019
106819    2019
106820    2019
106821    2019
106822    2019
Name: ANO, Length: 106823, dtype: int64

In [18]:
 df[["ANO", "MÊS"]] # ASSIM [ ['X', 'Y'] ] CONSEGUIMOS RETORNAR MAIS DE 2 SERIES, 2 COLUNAS OU MAIS

         ANO  MÊS
0       2004    5
1       2004    5
2       2004    5
3       2004    5
4       2004    5
...      ...  ...
106818  2019    6
106819  2019    6
106820  2019    6
106821  2019    6
106822  2019    6

[106823 rows x 2 columns]