# INDEXAÇÃO POR RÓTULO É UM MEIO DE VISUALIZAR E ANALISAR DADOS ACESSANDO LINHAS E COLUNAS -> retorna series

In [8]:
import pandas as pd
df = pd.read_csv('../datasets/GasPricesinBrazil_2004-2019.csv', sep = ';')
df.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

##### .LOC[]
** RETORNA LINHAS // COLUNA // COLUNAS**

In [21]:
df.loc[0] # THE FIRST SAMPLE
# RETORNA A 1 LINHA // O 1 SAMPLE 
# BOOLEAN CONDITIONS
# df.loc[row, features]

Unnamed: 0                                      0
DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                           DISTRITO FEDERAL
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  127
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.288
DESVIO PADRÃO REVENDA                       0.016
PREÇO MÍNIMO REVENDA                         1.19
PREÇO MÁXIMO REVENDA                         1.35
MARGEM MÉDIA REVENDA                        0.463
COEF DE VARIAÇÃO REVENDA                    0.012
PREÇO MÉDIO DISTRIBUIÇÃO                    0.825
DESVIO PADRÃO DISTRIBUIÇÃO                   0.11
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.4201
PREÇO MÁXIMO DISTRIBUIÇÃO                  0.9666
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.133
MÊS                                             5
ANO                                          2004
Name: 0, dtype: object

In [23]:
df.loc[ [0,1] ] # MORE THAN ONE SAMPLE

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004

In [19]:
# using the df.loc[row, features]

df.loc[ df["NÚMERO DE POSTOS PESQUISADOS"] > 300, "REGIÃO"] # ONE FEATURE ONLY

1         CENTRO OESTE
5             NORDESTE
9             NORDESTE
20             SUDESTE
21             SUDESTE
              ...
106778         SUDESTE
106793         SUDESTE
106796             SUL
106801             SUL
106805         SUDESTE
Name: REGIÃO, Length: 21625, dtype: object

In [20]:
df.loc[ df["NÚMERO DE POSTOS PESQUISADOS"] > 300, ["REGIÃO", "MÊS"]] # MORE THAN ONE FEATURE

              REGIÃO  MÊS
1       CENTRO OESTE    5
5           NORDESTE    5
9           NORDESTE    5
20           SUDESTE    5
21           SUDESTE    5
...              ...  ...
106778       SUDESTE    6
106793       SUDESTE    6
106796           SUL    6
106801           SUL    6
106805       SUDESTE    6

[21625 rows x 2 columns]